@using SocialMediaPlatform.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Media</h1>
    <p>Just a play around site.</p>
</div>

@using (Html.BeginForm("FormTwo", "Home", FormMethod.Post))
{
    @model SocialMedia
    @Html.Label("id", "PlayListID")
    @Html.TextBox("id", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(SocialMedia => SocialMedia.id)
    @Html.DropDownList("Type",
        new SelectList(Enum.GetValues(typeof(Platform))),
        "Select Platform",
        new { @class = "form-control"
    })
    @Html.ValidationMessageFor(SocialMedia => SocialMedia.Type)

    <input type="submit" value="submit" />
}

@if (ViewBag.Collection != null && ViewBag.Collection.GetType() == typeof(Array)) /* Needs to be change to check for collection value*/
{
    foreach (var str in ViewBag.Collection)
    {
        <div style="border-style:solid;margin:10%;">
            <div>
                <h1>@str.title</h1>
            </div>
            <div style="float:left">
                <picture>
                    <source media="(min-width: 650px)" srcset="@str.thumbnails["default"].url">
                    <source media="(min-width: 465px)" srcset="@str.thumbnails["medium"].url">
                    <img src="@str.thumbnails["default"].url" alt="Flowers" style="width:auto;">
                </picture>
            </div>
            <div>
                <text>@str.description</text>
            </div>
        </div>
    }
}
else if (ViewBag.Collection != null &&  ViewBag.Collection.GetType() == typeof(SpotifyPlaylist))
{
            <h1 style="text-align:center">
                @ViewBag.Collection.Name
            </h1>
            foreach (var str in ViewBag.Collection.Tracks.Items)
            {
            <div style="border-style:solid;margin:10%;">
                <div>
                    <h1>@str.Track.Name</h1>
                </div>
                @foreach (var track in str.Track.Artists)
                {
                    <div>
                        <text>Track Name : @track.Name</text>

                    </div>
                }
                <div>
                    Album Name : @str.Track.Album.Name
                    <picture>
                        <img src="@str.Track.Album.Images[0].Url" alt="Flowers" style="width:120px;">
                    </picture>
                </div>
            </div>
            }


}
else
{
<span> No Results</span>
}


<script>


</script>