@using SocialMediaPlatform.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Media</h1>
    <p>Just a play around site.</p>
</div>




@using (Html.BeginForm("FormTwo", "Home", FormMethod.Post))
{
    @model SocialMedia
    @Html.Label("id", "PlayListID")
    @Html.TextBox("id", null, new { @class = "form-control" })
    @Html.ValidationMessageFor(SocialMedia => SocialMedia.id)
    @Html.DropDownList("Type",
        new SelectList(Enum.GetValues(typeof(Platform))),
        "Select Platform",
        new { @class = "form-control"
    })
    @Html.ValidationMessageFor(SocialMedia => SocialMedia.Type)

    <input type="submit" value="submit" />
}

@if (ViewBag.Collection)
{
    foreach (var str in ViewBag.Collection)
    {
        <div style="border-style:solid;margin:10%;">
            <div>
                <h1>@str.title</h1>
            </div>
            <div style="float:left">
                <picture>
                    <source media="(min-width: 650px)" srcset="@str.thumbnails["default"].url">
                    <source media="(min-width: 465px)" srcset="@str.thumbnails["medium"].url">
                    <img src="@str.thumbnails["default"].url" alt="Flowers" style="width:auto;">
                </picture>
            </div>
            <div>
                <text>@str.description</text>
            </div>
        </div>
    }
}
else
{
    <span> No Results</span>
}

<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>-->
